.event-image {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    float: left;
}

.card-header {
    border-bottom: none;
    padding-bottom: 0px;
    padding-top: 17.5px;
}

.card-header strong {
    font-size: 16px;
}

.performer-links {
    margin-top: 5px;
}

.performer-links a {
    margin-right: 10px;
}

hr {
  margin: 20px 0px 0px 0px;
}
