$spacer:   20px;
$grid-gutter-width: 20px;

$font-size-root: 14px !default;

$navbar-border-radius: 0px;

$body-bg:    #F5F8FA;
//$body-color: #CCC;
$heading-bg: #222;

$brand-primary: #B2543D ;

$card-cap-bg: #fff;

$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;

@import '../node_modules/bootstrap/scss/bootstrap';

@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $size $color;
        -moz-box-shadow:inset $top $left $blur $size $color;
        box-shadow:inset $top $left $blur $size $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $size $color;
        -moz-box-shadow: $top $left $blur $size $color;
        box-shadow: $top $left $blur $size $color;
    }
}

.navbar-brand {
  font-weight: bold;
}

.navbar-branded {
  background-color: $brand-primary;
}

.navbar .nav-item {
  font-weight: bold;
  margin: 0px 10px;
}

.container-fluid {
  padding: $spacer 5px;
}

.card-block {
  padding: 0;
}

.card-text {
  padding: $spacer;
}

.card .table {
  margin-bottom: 0px;
}
