<div class="card" *ngFor="let event of events">

	<div class="card-header">
		{{event.type}} at {{event.venue.name}}
	</div>
	<div class="card-block">
		<p class="card-text">{{event.description}}</p>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered">
			<tbody>
				<tr *ngFor="let performer of event.performer">
					<td>{{performer.name}}</td>
					<td>{{performer.genre}}</td>
					<td class="hidden-xs-down">{{performer.info | slice:0:512}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>