<div class="card" *ngFor="let ev of events | eventkeyword:keyword">
	<div class="card-header">
		<div class="media">
			<div class="media-left">
				<!--a class="media-left media-top" href="#">
					<img class="media-object" style="width: 60px; height: 60px;" [src]="'/assets/venue-placeholder.jpg'" alt="Generic placeholder image">
				</a-->
			</div>
			<div class="media-body">
				<div class="pull-right">
					<app-utags [(tags)]="ev.utag" [save]="'/api/v1/event/'+ev.id+'/tag'" [enabled]="userService.me != null"></app-utags>
				</div>
				<h2 class="text-primary">{{ev.type}} at {{ev.venue.name}}</h2>
				<div><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ev.date | amCalendar}} <span class="text-muted">({{ev.date | amTimeAgo}})</span></div>
			</div>
		</div>
	</div>
	<div class="card-block">
		<div class="card-text">
			<div class="media">
				<div class="media-body">
					<p>
						{{ev.description | shorten:256}}
					</p>
					<hr *ngIf="ev.performer">
					<div class="media m-t-2" *ngFor="let performer of ev.performer; let i = index;">
						<a class="media-left media-top" href="#">
							<img class="media-object" style="width: 40px; height: 40px;" [src]="performer.images['sm'] ? '/static/'+performer.images['sm'] : '/assets/person-placeholder.jpg'"
								alt="Generic placeholder image">
						</a>
						<div class="media-body">
							<strong class="media-heading">{{performer.name}} </strong><span class="text-muted">:: {{performer.genre}}</span>
							<div>{{performer.info}}</div>
							<div class="performer-links">
								<a target="blank" [href]="performer.listen_url" *ngIf="performer.listen_url"><i class="fa fa-headphones" aria-hidden="true"></i> Listen</a>
								<a href="https://google.com/search?q={{performer.name}}+{{performer.home}}" target="_blank"><i class="fa fa-search"></i> Search</a>
							</div>
						</div>
						<hr *ngIf="i < ev.performer.length-1">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer text-muted">
		<i class="fa fa-map-signs" aria-hidden="true"></i> {{ev.venue.name}} <span *ngIf="ev.venue.address"> at {{ev.venue.address}}</span>
	</div>
</div>