<div class="card" *ngFor="let ev of events">
	<div class="card-header">
		<div class="media">
			<div class="media-left">
				<a class="media-left media-top" href="#">
					<img class="media-object" style="width: 60px; height: 60px;" [src]="'/assets/venue-placeholder.jpg'"
						alt="Generic placeholder image">
				</a>
			</div>
			<div class="media-body">
				<strong class="text-primary">{{ev.type}} at {{ev.venue.name}} <span class="text-muted">(2km)</span></strong>
				<div class="text-muted">{{ev.date | date:'EEE h:mma'}}</div>
			</div>
		</div>
	</div>
	<div class="card-block">
		<div class="card-text">
			<div class="media">
				<div class="media-body">
					<p>
						{{ev.description | shorten:256}}
					</p>
					<div class="media m-t-2" *ngFor="let performer of ev.performer">
						<a class="media-left media-top" href="#">
							<img class="media-object" style="width: 40px; height: 40px;" [src]="performer.img || '/assets/person-placeholder.jpg'"
								alt="Generic placeholder image">
						</a>
						<div class="media-body">
							<strong class="media-heading">{{performer.name}} </strong><span class="text-muted">{{performer.genre}}</span>
							<div>{{performer.info || "No info..."}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="tag tag-primary">tag1</div>
		<div class="tag tag-primary">tag2</div>
		<div class="tag tag-primary">tag3</div>
	</div>
</div>