<nav class="navbar navbar-static-top navbar-dark navbar-branded">
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/events" routerLinkActive="active">Heroes</a>
    <a class="navbar-brand" href="#">FAKT</a>
    <div class="pull-xs-right">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Events <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>