<form>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label for="date_relative">When</label>
        <select
          class="form-control"
          id="date_relative"
          name="date_relative"
          [(ngModel)]="query['date_relative']"
          (ngModelChange)="handleFormChange($event, query)">
          <option value="">Any Time</option>
          <option value="today">Today</option>
          <option value="tomorrow">Tomorrow</option>
          <option value="this weekend">This Weekend</option>
          <!--option value="next weekend">Next Weekend</option-->
          <option value="this week">This Week</option>
          <option value="this month">This Month</option>
        </select>
      </div>
    </div>
  </div>
</form>

