<form>
  <div class="row mb-2">
    <div class="col-sm">
      <div class="form-group m-0">
        <select
          placeholder="When..."
          class="form-control"
          id="date_relative"
          name="date_relative"
          [(ngModel)]="query['date_relative']"
          (ngModelChange)="handleFormChange($event, query)">
          <option value="">Any Time</option>
          <option value="today">Today</option>
          <option value="tomorrow">Tomorrow</option>
          <option value="this weekend">This Weekend</option>
          <!--option value="next weekend">Next Weekend</option-->
          <option value="this week">This Week</option>
          <option value="this month">This Month</option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group m-0">
        <input name="keyword" class="form-control" placeholder="Keyword..." [(ngModel)]="keyword" (ngModelChange)="handleKeywordChange(keyword)"/>
      </div>
    </div>
  </div>
</form>

